:root {
  --orange:darkorange;
  --white:white;
  --bgcolor:#232c3d;
  --blue: #6495ed;
  --grey:grey;
  --fontbg:14px;
  --fontsm:12px;
  --bgpadding:1rem;
  --bgmargin:1rem;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*section 1*/
.header_section {
    padding:var(--bgpadding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:var(--orange);
}
.ptext {
  color: white;
}
p,h3,h1 {
    color: #fff;
}
.webb a{
    color:#fff
}
/*section 2*/
.section_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4rem;
}

.section_2, .info_short, .education_con {
    background-color:#232c3d;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fab {
  padding-left: 1rem;
}
.info_short {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image_con {
    border-radius: 50%;
    height: 400px;
    width:200;
}
.education_con {
    padding: 2rem;
}
.education_text {
    text-align: center;
}
.personal_skills{
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 1.5rem;
}
.programming_skills h3 {
  text-align: center;
}
.programming_skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.programming_skills h3, .pskill p, .footer_con p {
    color:black;
}

li {
    list-style-type: none;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
p a {
    text-decoration: none;
}
.footer_section {
  height:400px;
  background-color:#232c3d;
  padding-right: 1rem;
}
.footer_con {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  padding-top: 2rem;
}
/*media query*/
@media screen and (max-width: 400px) {
  .programming_skills_container {
     display: flex; 
     flex-direction: column;
    }
  .image_con {
    border-radius: 50%;
    height: 300px;
    width:150;
  }
  .links {
    display: flex !important;
    flex-direction: column !important;
  }
  .footer {
    display: flex !important;
    flex-direction:column !important;
  }
}
@media screen and (max-width: 600px) {
  .header_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4rem;  
  }
  .section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
  }
  
  .hr {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .footer {
    display: flex !important;
    flex-direction: column !important;
  }
  .fab {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
  }
  .img_con {
      height: 130px;
      width:130px;
  }
    .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4rem;
  }
   .info_short {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem; 
  }

}